* {
	box-sizing: border-box;
}

body, html {
	min-height: 100%;
	margin: 0;
}


body {
	background-color: white;
}

img{
	width: 80%;
	height: auto;
}

.grid-parent{
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	grid-gap: 3px;
	margin-left: 50px;
	margin-top: 50px;
	margin-right: 50px;
	position: relative;
}

.section1{
	grid-column: span 1;
}

.section2{
	grid-column: span 1;
}

h1, h2, p {
	line-height: 14px;
	font-family: Lucida Sans Unicode;

}

h1, h2 {
	color: #404040;
}

p {
	color: #808080;
	}

@media screen and (max-width: 1500px) {
	.grid-parent {
		grid-template-columns: 1fr;
	}

	.section1{
		grid-row: span 2;
	}

	h1{
	font-size: 1vw;

}

	p{
	font-size: 0.8vw;
}

	h2{
		font-size: 1vw;
	}

	img {
		width: 50%;
	}
}
